nav .brand-logo{
	color: #6a1b9a !important;
	padding-left: 10px;
}

nav ul a {
    color: #6a1b9a;
}

nav ul li a:hover {
   background-color: #6a1b9a;
   color: #fff;
}

.button-collapse{
	color: #6a1b9a;
	padding-left: 10px;
}

.sliderimg{
	-webkit-filter: brightness(40%);
	filter: brightness(40%);
}

.slider .indicators .indicator-item.active {
    background-color: #6a1b9a;
}

.card-news{
	color: #6a1b9a;
	font-weight: bolder;
}

h3, h4{
	color: #6a1b9a;
}

footer.page-footer {
    padding-top: 0px;
    margin-top: 60px;
}

